.skillsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 170px;
}

#skill {
    padding: 30px;
    border: var(--color-secondary) solid 3px;
    border-radius: 100%;
    flex-wrap: wrap;
    padding: 100px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


#skill:hover {
    scale: 1.1;
    transition: 0.2s;    
    box-shadow: #ACC7B4 0px 22px 70px 4px;
}

.skill1 {
    background-image: url('../assets/react.svg');
}

.skill2 {
    background-image: url('../assets/html.png');
}

.skill3 {
    background-image: url('../assets/text.png');
}

.skill4 {
    background-image: url('../assets/c-.png');
}

.skill5 {
    background-image: url('../assets/mongo.png');
}

.skill6 {
    background-image: url('../assets/social.png');
}

.skill7 {
    background-image: url('../assets/nodejs.png');
}

.skill8 {
    background-image: url('../assets/java.png');
}

.skill9 {
    background-image: url('../assets/mysql.png');
}

.skill10 {
    background-image: url('../assets/js.png');
}

.SkillsFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 20px 0;
}