.heroContainer {
    height: 500px;
    width: 1520px;
    border: rgb(179, 148, 44) solid 2px;
    display: flex;
}   

.divider {
    display: flex;
}

.sideBar {
    height: 500px;
    width: 80px;
    border: rgb(155, 181, 26) solid 1px;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.middle {
    height: 500px;
    width: 700px;
    border: rgb(21, 148, 174) solid 1px;
}

.photoContent {
    height: 500px;
    width: 740px;
    border: var(--primary) solid 1px;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.textContainer {
    height: 300px;
    width: 400px;
    border: black solid 1px;
}

.photoContent {
       width: 400px; /* or any fixed size */
    height: 400px;
    background-image: url('.././assets/passportimage.png');
    background-repeat: no-repeat;
    background-size: 85%; /* Zoom level */
    background-position: center;
    border-radius: 50%;
    overflow: hidden;
    border: rgb(108, 4, 164) 10px solid;
}

#hi {
    font-size: x-large;
    color: rgb(228, 239, 239);
}

#name {
    font-size: xx-large;
    color: rgb(4, 243, 247);
}

#variable {
    font-size: x-large;
    color: rgb(189, 226, 226);
}



.Btn {
    background-color: #ACC7B4;
    padding: 15px;
    margin: 10px;
    outline: none;
    border-radius: 20px;
    border: none;
    color: black;
}

.Btn:hover {
    background-color: azure;
    color: rgb(13, 13, 13);
}

.linkedIn {
    background-image: url(.././assets/linkedin.png);
}

.github {
    background-image: url(.././assets/github.png);
}

.leetCode {
    background-image: url(.././assets/leetcode.png);
}

.leetCode,
.linkedIn,
.github {
    height: 40px;
    width: 40px;
    background-size: contain;
    padding: 2px;
    cursor: pointer;
}

.iconList {
    list-style: none;
    display: flex;
    /* Add this */
    flex-direction: column;
    /* If you want them vertically stacked */
    align-items: center;
    gap: 50px;
    /* Add spacing between items */
    padding: 0;
    margin: 0;
    /* Add spacing between items */

}

.leetCode:hover,
.linkedIn:hover,
.github:hover {
    scale: 1.2;
    transition: 0.5s;
}


body {
  background-color: var(--color-secondary);
  color: var(--color-text);
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}




