.heroContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}


.photoContent {
    border: var(--color-secondary) solid 2px;
}

.photoContent {
    padding: 170px;
    background-image: url('.././assets/passportimage.png');
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.photoContent:hover {
    /* border: var(--color-primary) solid 1px; */
}

#hi {
    font-size: x-large;
    color: var(--color-accent);
}

#name {
    font-size: xx-large;
    color: var(--color-primary);
}

span {
    color: var(--color-accent);
}

#variable {
    font-size: x-large;
    color: black;
    width: 50%;
    text-align: center;
}

#pursuing {
    width: 50%;
    text-align: center;
}

.Btn {
    background-color: var(--color-primary);
    padding: 15px 25px;
    margin: 10px;
    outline: none;
    border-radius: 20px;
    border: none;
    font-size: 18px;
}

.Btn:hover {
    background-color: var(--color-accent);
    color: rgb(13, 13, 13);
    cursor: pointer;
}