* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.naver {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 17px;
}

.logo {
    width: 50px;
}

.connect {
    background-color: var(--color-primary);
    padding: 15px 35px;
    border-radius: 50px;
    font-size: large;
    color: black;
    list-style: none;
}

.connect:hover {
    transition: 0.2s;
    background-color: var(--color-accent);
    cursor: pointer;
}



.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.nav-menu li,
.logo {
    padding: 10px;
    margin: 10px;
    list-style: none;
    font-size: large;
    font-weight: 500;
}

.nav-menu li:hover {
    color: var(--color-accent);
    cursor: pointer;
    transition: 0.2s;
}

.nav-mob-open {
    display: none;
}

.nav-mob-close {
    display: none;
}

.anchor-link {
    font-style: none;
    text-wrap-style: none;
    text-decoration: none;
    color: black;
}

/* @media (max-width:768px) {

    .naver {
        margin: 20px 50px;
    }

    .connect {
        display: none;
    }

    .nav-mob-open {
        position: fixed;
        display: block; 
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start; 
        top: 0px;
        gap: 30px;
        background-color: var(--color-primary);
        right: -350px; 
        height: 100%;
        z-index: 2;
        transition: right  0.5s;
        
    }
    .nav-menu  li{
        top: 0;
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row ;
        gap: 20px ;
    }
        .nav-menu.open {
        right: 0; 
    } 
} */

@media (max-width:768px) {

    .nav-menu,
    .connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 10px;
        left: 90px;
        width: 30px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 350px;
        background-color: var(--color-primary);
        /* top: 0; */
        bottom: 10%;
        align-items: center;
        right: -350px;
        transition: right 0.5s;
    }

    .nav-menu li {
        top: 0;
        font-size: 30px;
        flex-direction: row;
        gap: 20px;
        position: relative;
        z-index: 3;
    }

}