.AboutContainer {
    margin-top: 20px;
    padding: 30px;
    /* border: purple solid 1px; */
}

.title {
    display: flex;
    justify-content: center;
}

.mainAbout{
    display: flex;
}



.about-left{
    background-image: url('../assets/photo.png');

}
.about-right{
    letter-spacing: 0.05rem;
    word-spacing: 0.05rem;
    line-height: 2rem;
    text-align: justify;
}
.mainAbout {
    display: flex;
    padding: 30px 30px;
    align-items: center;
    font-size: larger;
}

.mainAbout span{
    color: var(--color-primary);
}
@media (max-width:565px) {
    .mainAbout {
        display: block;

    }
}