* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;


}

body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background: linear-gradient(to right, #cbf0f5, #c4e1f7, #c2dcfd);
}

:root {

  --color-primary: oklch(60% 0.15 250);
  /* Blue */
  --color-secondary: oklch(95% 0.03 260);
  /* Light background */
  --color-accent: oklch(70% 0.2 30);
  /* Orange */
  --color-text: oklch(30% 0.02 270);
  /* Dark text */
}

body {
  background-color: var(--color-secondary);
  display: inline;
  /* align-items: center; */
}